@media screen and (max-width:768px) and (orientation: portrait) and (pointer: coarse){

}/*petite taille, format portrait, adapte au tactile*/

@media screen and (min-width: 1024px) and (orientation: landscape){

}/*grande taille, format paysage*/

body{
    background-color: whitesmoke; 
    font-family: 'Open Sans, Montserrat, Ubuntu Sans'; 
    font-size: 15px;
    color: #6D6875;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: scroll;
    text-align: center;
    }

nav{
    background-color: #E5989B;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #6D6875;
  }
/*Ne fonctionne pas pour changer le fond de la grille*/
  .div{
    background-color: beige;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Deux colonnes de largeur égale */
    grid-gap: 10px; /* Espacement entre les éléments */
    max-width: 1000px; /* Largeur maximale de la grille */
    margin: 0 auto; /* Centrer la grille horizontalement */
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* 3 éléments par ligne (avec une largeur minimale de 200px) */
}

.item {
  background-color: beige;
    border: 1px solid black;
    padding: 20px;
    text-align: center; /* Centrer le contenu (texte et image) */
}

.item img {
    max-width: 100%; /* Assurer que l'image ne dépasse pas la taille de son conteneur */
    height: auto; /* Garantir que l'image conserve ses proportions */
}