@media screen and (max-width:768px) and (orientation: portrait) and (pointer: coarse){

}/*petite taille, format portrait, adapte au tactile*/

@media screen and (min-width: 1024px) and (orientation: landscape){

}/*grande taille, format paysage*/

body{
    background-color: whitesmoke; 
    font-family: 'Open Sans, Montserrat, Ubuntu Sans'; 
    font-size: 15px;
    color: #6D6875;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: scroll;
    text-align: center;
    }

nav{
    background-color: #E5989B;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #6D6875;
  }
/*Ne fonctionne pas pour changer le fond de la grille*/
  .div{
    background-color: beige;
  }

  .grid-container {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Deux colonnes de largeur égale */
    grid-gap: 10px; /* Espacement entre les éléments */
    max-width: 1000px; /* Largeur maximale de la grille */
    margin: 0 auto; /* Centrer la grille horizontalement */
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* 3 éléments par ligne (avec une largeur minimale de 200px) */
}

.item {
  background-color: beige;
    border: 1px solid black;
    padding: 20px;
    text-align: center; /* Centrer le contenu (texte et image) */
}

.item img {
    max-width: 100%; /* Assurer que l'image ne dépasse pas la taille de son conteneur */
    height: auto; /* Garantir que l'image conserve ses proportions */
}

/*button{
    background-color: beige;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: none;}

.button-56 {
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-56:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: #ffdeda;
  outline: 0;
}

.button-56:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}
*/

.plus{
  background-color: #b5838d;
}

.moins{
  background-color: #e5989b;
}

